<div class="modal fade" id="renameFolderModal" tabindex="-1" aria-labelledby="renameFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameFolderModalLabel">Đổi tên</h5>
            </div>
            <form method="post" asp-action="RenameFolder" asp-controller="Home">
                <div class="modal-body">
                    <input type="hidden" name="parentFolderId" value="@ViewBag.FolderId">
                    <input type="hidden" name="FolderId" id="folderIdInput">
                    <div class="mb-3">
                        <label for="newFileName" class="form-label">Tên mới</label>
                        <input type="text" class="form-control" name="newFolderName" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>
